:root {
  --sp-0: 0;
  --sp-1: 0.25rem; /*  4 px */
  --sp-2: 0.5rem; /*  8 px */
  --sp-3: 0.75rem; /* 12 px */
  --sp-4: 1rem; /* 16 px */
  --sp-5: 1.5rem; /* 24 px */
  --sp-6: 2rem; /* 32 px */
  --sp-8: 3rem; /* 48 px */
  --sp-10: 4rem; /* 64 px */
}
